asgiref==3.2.10
astroid==2.4.2
async-generator==1.10
attrs==21.2.0
certifi==2021.10.8
cffi==1.15.0
click==7.1.2
cryptography==35.0.0
Django==3.1.1
Flask==1.1.2
h11==0.12.0
idna==3.3
iniconfig==1.1.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
outcome==1.1.0
packaging==21.0
pluggy==1.0.0
py==1.10.0
pycparser==2.20
pylint==2.5.3
pyOpenSSL==21.0.0
pyparsing==2.4.7
pytest==6.2.5
pytz==2020.1
selenium==4.0.0
six==1.15.0
sniffio==1.2.0
sortedcontainers==2.4.0
sqlparse==0.3.1
toml==0.10.1
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.7
Werkzeug==1.0.1
wrapt==1.12.1
wsproto==1.0.0
